@import '../../styles/variaveis';

.container{
  position: absolute;
  
  width: 96px*3;
  height: auto;
  border: red solid 2px;
  left: 0px;
  top: 60%;
  box-sizing: border-box;
  z-index: 1000000;
}

.iconesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 2px  solid ;
  padding: 1px;
  gap: 3px;
  
}