@import '../../styles/variaveis';

body{
  
}

.rodapeContainer{

  width: 100vw;
  
  background-color: $colorCard;
  height: auto;
  padding: 10px;
  

}
.rodape{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.linkContainer{
  display: flex;
  flex-direction: column;
}

.link{
  display: flex;
  width: auto;
 
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  gap: 5px;
  text-decoration: none;
  color: $colorTextSW;
}

.icone{
  width: 30px;
  height: 30px;
}