@import '../../styles/variaveis';

.cardContainer {}

.card {


  width: 203.5px;


  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: $colorCard;
  box-shadow: $materialCardShaddow;
  z-index: 1;
}

.card:hover {
  transform: scale(1.02);
}

.cardFoto {
  width: 203.5px;
  height: 300px;
}


.favorito {
  position: inherit;
  width: calc(54px/1.5);

  margin: 3px;


}

.tituloContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  align-items: center;




}

.titulo {
  color: $colorDarkSW;
  padding: 5px;

  font-family: $fonte-bold-SW;


  font-size: 1.5em;



}

.subTitulo {
  box-sizing: border-box;
  color: $colorCard;
  padding: 4px;
  width: 100%;
  height: 50px;
  font-family: $fonte-bold;
  background-color: black;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  align-items: center;

}

/* .nave{
  position: absolute;
  width: 50px;


 
}
.nave:hover{
  animation: voar 5s linear infinite;
}


@keyframes voar {

  0% {
    transform: translateX(10px) translateY(-300px) rotate(-35deg);
    z-index: -1;
  }

  50% {
    transform: translateX(150px) translateY(0px) rotate(-35deg);
    z-index: -1;
  }
  51%{
    transform: translateX(150px) translateY(0px) rotate(143deg);
    z-index: 1;
  }

  75% {
    transform: translateX(150px) translateY(0px) rotate(143deg);
    z-index: 1;
  }
90%{
  transform: translateX(-60px) translateY(-300px)rotate(143deg);
  z-index: 1;
}
95%{
  transform: translateX(-60px) translateY(-300px)rotate(-93deg);
  z-index: -1;
}

  100% {
    transform: translateX(0) translateY(-300px)rotate(-93deg);
    z-index: -1;
  }
}

.nave {
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
} */