@import '../../../styles/variaveis';

.placarContainer{
  display: flex;
  width:106px;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px 0px;
 
  gap: 5px;
 
}

.iconeMando{
  width: 40px;
}


.score{
  font-family: $fonte-bold-SW;
  font-size: 30px;
  text-align: center;
  color: $colorTextSW;
  padding: 2px;
  margin: 2px;
}