@import '../../../styles/variaveis';

.placarContainer{
  display: flex;
  width:inherit;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px 0px;
 
  gap: 5px;
 
}




.score{
  font-family: $fonte-bold-SW;
  font-size: 30px;
  text-align: center;
  color: $colorCard;
  padding: 2px;
  margin: 2px;
}