.biografiaContainer{
  display: flex;
  justify-content: center;
  margin: 30px 20px;
}
.biografia{
  padding: 10px;
  margin: 10px;
}
.fotoPersonagem{

  width: 30%;
  height: 50%;
  border: 2px solid;
  padding: 10%;
  margin: 10px;
  background-color: antiquewhite;
}